<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.timsimonhughes.ygam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.MyTheme">
        <activity
            android:name=".controller.SplashActivity"
            android:theme="@style/SplashTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.OnboardingActivity"
            android:label="@string/app_name"
            android:theme="@style/OnboardingTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/DashboardTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".controller.DialogExampleActivity"
            android:label="@string/title_activity_dialog"
            android:theme="@style/DialogTheme"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.timsimonhughes.ygam.controller.MainActivity" />
        </activity>
        <activity
            android:name=".controller.QuestionsActivity"
            android:label="@string/title_activity_questions"
            android:theme="@style/QuestionsTheme"/>
    </application>

</manifest>